@font-face {
	font-family: objectivity;
	src: url(./Objectivity-Light/Objectivity-Regular.otf);
}

:root {
	--color-01: #161616;
	--color-02: #ff8726;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: objectivity;
}

html * {
	box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background: var(--color-01);
}

/* ************************************************** */
.card {
  /* box-sizing: content-box; */
  /* background: var(--color-02); */
  /* border-radius: 30px; */
  background: linear-gradient(45.24deg, #040404 6.42%, #171616 52.08%, #282627 89.18%);
  border: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 12px;

  width: 360px;
  height: 416px;
  padding: 0px;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ************************************************** */
/* *********************** upper-div *************************** */
.upper-nav {
  /* background-color: var(--color-02); */
  height: 27px;
  margin: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {

  margin: 0px;
  width: 80px;
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  color: white;

  letter-spacing: 0.015em;
  text-align: center;

  cursor: pointer;
}

/* the date */
.date {
  /* border: 1px solid black; */
  font-size: 16px;
  line-height: 19px;
  color: white;
}

/* ********************* middle-div ***************************** */
.widget {
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  color: white;

  letter-spacing: 0.015em;
  text-align: center;
}

/* ********************* bottom-div ***************************** */
.bottom-div {
  margin: 27px;
  display: flex;
  flex-wrap: wrap;
  color: white;

  /* border: 1px dotted black; */
}

/* ************************************************** */
.info-container {
  /* box-sizing: border-box; */
  margin: 0pc;

  /* border: 1px solid red; */
  width: 50%;
  display: in;
}

/* ************************************************** */
.wind, .humidity, .sun-houres {
  margin: 10px 0;
  height: 30px;
	display: flex;
  align-items: center;
  /* border: 1px dotted red; */
  /* text-align: center; */
}

.icon {
  /* padding-top: 10px; */
  width: 19px;
  margin-right: 10px;
  /* border: 1px solid red; */
  filter: invert(100%) sepia(0%) saturate(7426%) hue-rotate(357deg) brightness(120%) contrast(119%);
}

.wind span, .humidity span, .sun-houres span {
  display: inline-block;
  width: calc(100% - 19px);
  font-size: 16px;
  line-height: 19px;
  /* padding-bottom: 2px; */
  /* text-align: justify; */
  /* border: 1px solid; */
}

/* ************************************************** */

.temp-div {
  /* border: 1px solid red; */
  /* box-sizing: border-box; */

  margin: 0;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.temp-div span {
  font-family: objectivity;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  /* line-height: 82px; */
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
}

.feels-like {
  /* display: inline-block; */
  /* width: calc(100% - 19px); */
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
}
